.review-item{
    display: flex;
    border: 2px solid green;
    margin: 20px 40px;
    padding: 10px;
}
.review-item-details-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
}

.review-item img{
    width:100px;
    height: 100%;
}
.review-item-delete{
    display: flex;
    align-items: center;
}
.btn-delete{
    padding:8px;
    border-radius: 50%;
    border:0;
    background-color: rgb(240, 187, 187);
}
.btn-delete:hover{
    background-color: rgb(163, 113, 113);
    cursor: pointer;
}
.delete-icon{
    width: 31px;
    height: 31px;
    color:rgb(223, 87, 87);
}